<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Egoshi API</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="img/favicon.ico" />
  </head>
  <body>
    <header class="hero">
      <div class="dividor">
        <img
          src="https://cdn.discordapp.com/avatars/817157493951037453/45ae13e361e7d82088f357e3b250cbcf.png"
          class="fload"
          alt="Icon"
        />
        <h1>Egoshi API</h1>
        <p>Una API de contenido para bots de discord</p>
        <a href="https://discord.gg/Am7EpUkpjZ" class="button"
          >Añadir a tu Servidor</a
        >
      </div>
    </header>
    <script
      src="https://kit.fontawesome.com/c15b744a04.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
